<div class="page-title">
  <h3>首页配置</h3>
</div>
<div class="page-action clearfix">
  <div class="pull-left">
    <button class="btn btn-sm btn-success"
            ng-if="page_permission['config.usual.index.add']"
            ng-click="indexAction.add({ modal: true })">新增</button>
    <button class="btn btn-sm btn-default"
            ng-click="indexAction.getLists(config_list.pagination.current_page)">刷新</button>
  </div>
</div>
<div class="page-content" ng-init="indexAction.getLists()">
  <div class="config-index">
    <div class="item" ng-repeat="(key, config) in config_list.result">
      <div class="hd clearfix">
        <h3 class="text-center">{{ config.main_category.name }}</h3>
        <div class="fl pull-left">
          <h4>推荐学校</h4>
          <!-- 已推荐学校 -->
          <div class="info">
            <a href="" 
               ng-repeat="organization in config.organization">
              {{ organization.name }}
            </a>
          </div>
          <div class="action text-center">
            <a href="" 
               class="btn btn-sm btn-success" 
               ng-click="indexAction.manage({ modal: true, option: 'organization', data: this })">管理推荐学校</a>
          </div>
        </div>
        <div class="fr pull-right">
          <h4>推荐分类</h4>
          <div class="info">
            <a href="" 
               ng-repeat="category in config.sub_category">
              {{ category.name }}
            </a>
          </div>
          <div class="action text-center">
            <a href=""
               class="btn btn-sm btn-success"
               ng-click="indexAction.manage({ modal: true, option: 'category', data: this })">管理推荐分类</a>
          </div>
        </div>
      </div>
      <div class="bd row">
        <div class="col-xs-3 item" ng-repeat="course in config.course">
          <div class="inner">
            <a href="">
              <img src="{{ getThumbnail(course.thumb, 'course_thumb', { width: 500, height: 300 }) }}" alt="">
              <div class="info">
                <h5>{{ course.name }}</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="text-center">
            <a href=""
               class="btn btn-sm btn-success"
               ng-click="indexAction.manage({ modal: true, option: 'course', data: this })">管理推荐课程</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
