<div class="box medal">
  <div tabset justified="false" largesize="false" >
    <div tab heading="我的勋章">
      <ul class="medal-list">
        <li class="item">
          <a href="">
            <img />
            <p>小有名气</p>
          </a>
        </li>
        <li class="item">
          <a href="">
            <img />
            <p>突出贡献</p>
          </a>
        </li>
        <li class="item">
          <a href="">
            <img />
            <p>分享达人</p>
          </a>
        </li>
        <li class="item">
          <a href="">
            <img />
            <p>进士三甲</p>
          </a>
        </li>
      </ul>
    </div>

    <div tab heading="全部勋章">
      <ul class="medal-list">
        <li class="item">
          <a href="">
            <img />
            <p>突出贡献</p>
          </a>
        </li>
        <li class="item">
          <a href="">
            <img />
            <p>BUG达人</p>
          </a>
        </li>
        <li class="item">
          <a href="">
            <img />
            <p>御用发言人</p>
          </a>
        </li>
        <li class="item">
          <a href="">
            <img />
            <p>最焦点</p>
          </a>
        </li>
        <li class="item">
          <a href="">
            <img />
            <p>状元及第</p>
          </a>
        </li>
        <li class="item">
          <a href="">
            <img />
            <p>笔记劳模</p>
          </a>
        </li>
        <li class="item">
          <a href="">
            <img />
            <p>中级学霸</p>
          </a>
        </li>
        <li class="item">
          <a href="">
            <img />
            <p>终极学霸</p>
          </a>
        </li>
        <li class="item">
          <a href="">
            <img />
            <p>新手上路</p>
          </a>
        </li>
        <li class="item">
          <a href="">
            <img />
            <p>小有名气</p>
          </a>
        </li>
        <li class="item">
          <a href="">
            <img />
            <p>突出贡献</p>
          </a>
        </li>
        <li class="item">
          <a href="">
            <img />
            <p>分享达人</p>
          </a>
        </li>
        <li class="item">
          <a href="">
            <img />
            <p>进士三甲</p>
          </a>
        </li>
        <li class="item">
          <a href="">
            <img />
            <p>举人</p>
          </a>
        </li>
        <li class="item">
          <a href="">
            <img />
            <p>朝元</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>