<div class="box password">
  <div class="col-xs-12 user-password">
    <div ng-show="reset_pwd_status == 1" class="no-animation">
      <br/>
      <h4 class="text-center text-primary">
        <i class="icon icon-success"></i>
        <span>恭喜您，密码修改成功！请牢记您的新密码~</span>
      </h4>
      <br/>
      <p><button class="btn btn-primary center-block" ng-click="backUp()">返回中心首页</button></p>
    </div>
    <form name="passwordForm" 
          class="form-horizontal no-animation" 
          role="form" 
          method="POST" 
          ng-hide="reset_pwd_status == 1">
      <div class="form-group">
        <label for="old_password" class="col-xs-3 control-label important">原密码</label>
        <div class="col-xs-5">
          <input type="password" 
                 name="old_password" 
                 class="form-control" 
                 id="old_password" 
                 maxlength="16" 
                 placeholder="请输入原密码" 
                 ng-model="password.old" 
                 validator="required, minlength=6, maxlength=16" 
                 required-error-message="请您输入原密码" 
                  minlength-error-message="密码长度至少为6位字符" 
                 maxlength-error-message="密码长度不能超过16位字符">
        </div>
      </div>
      <div class="form-group">
        <label for="new_password" class="col-xs-3 control-label important">新密码</label>
        <div class="col-xs-5">
          <input type="password" 
                 name="new_password" 
                 class="form-control" 
                 id="new_password" 
                 placeholder="长度6~16位，数字、字母、字符" 
                 ng-model="password.new" 
                 validator="required, minlength=6, maxlength=16" 
                 required-error-message="请您输入新密码" 
                 minlength-error-message="密码长度至少为6位字符" 
                 maxlength-error-message="密码长度不能超过16位字符">
        </div>
      </div>
      <div class="form-group">
        <label for="rel_new_password" class="col-xs-3 control-label important">确认新密码</label>
        <div class="col-xs-5">
          <input type="password" 
                 name="rel_new_password" 
                 class="form-control" 
                 id="rel_new_password" 
                 placeholder="请再次确认新密码" 
                 ng-model="password.new_rel" 
                 validator="required, minlength=6, maxlength=16, pwdVerify=password.new" 
                 required-error-message="请您确认新密码" 
                 minlength-error-message="密码长度至少为6位字符" 
                 maxlength-error-message="密码长度不能超过16位字符">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-6">
          <button validation-submit="passwordForm" class="btn btn-lg btn-primary" 
                 ng-click="resetPassword(password)">提交修改</button>
        </div>
      </div>
    </form>
  </div>
</div>