<div class="box profile" 
     ng-init="getUserInfo()">
  <div class="col-xs-12 user-information">
    <div ng-show="update_info_status == 1" class="toggle">
      <br/>
      <h4 class="text-center text-primary">
        <i class="icon icon-success h4 text-primary"></i>
        <span>恭喜您，个人资料修改成功！</span>
      </h4>
      <br/>
      <p><button class="btn btn-primary center-block" ng-click="backUp()">返回中心首页</button></p>
    </div>
    <form name="user_information" 
          class="form-horizontal toggle" 
          role="form" 
          method="POST" 
          ng-hide="update_info_status == 1">
      <div class="form-group">
        <label class="col-xs-2 control-label important">头像</label>
        <div class="col-xs-6">
          <div class="user-avatar">
            <div class="pull-left upload-square" 
                 ng-file-select="onFileSelect($files, 'image', '', { max_size: 2, min_width: 100, min_height: 100 })" 
                 default-file="getThumbnail(user.gravatar, 'gravatar', { width: 100, height: 100 })" 
                 uploaded="getlogoUpload"></div>
            <div class="pull-left text-info">
              <p></p>
              <p class="">请上传大于100 x 100的图像</p>
              <p class="">文件小于2M</p>
              <p class="">支持JPG/PNG/BMP等格式图片</p>
            </div>
          </div>
          <input type="text" 
                 class="hidden form-control" 
                 name="gravatar" 
                 ng-model="user.gravatar" 
                 validator="required" 
                 required-error-message="请上传头像">
        </div>
      </div>
      <div class="form-group">
        <label for="J_user_name" class="col-xs-2 control-label important">昵称</label>
        <div class="col-xs-6">
           <input type="text" 
                  name="name" 
                  class="form-control" 
                  id="J_user_name" 
                  placeholder="输入您的昵称" 
                  ng-model="user.name" 
                  validator="required" 
                  required-error-message="请输入您的昵称">
        </div>
      </div>
      <div class="form-group">
        <label for="J_user_real_name" class="col-xs-2 control-label important">真实姓名</label>
        <div class="col-xs-6">
           <input type="text" 
                  name="real_name" 
                  class="form-control" 
                  id="J_user_real_name" 
                  placeholder="输入您的真实姓名" 
                  ng-model="user.profile.rel_name" 
                  validator="required" 
                  required-error-message="请输入真实姓名">
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label important">性别</label>
        <div class="col-xs-6">
          <label class="radio-inline">
            <input type="radio" 
                   name="gender" 
                   ng-model="user.profile.gender" 
                   value="0" 
                   checked required/>
            <span>保密</span>
          </label>
          <label class="radio-inline">
            <input type="radio" 
                   name="gender" 
                   ng-model="user.profile.gender" 
                   value="1" 
                   required/>
            <span>男</span>
          </label>
          <label class="radio-inline">
            <input type="radio" 
                   name="gender" 
                   ng-model="user.profile.gender" 
                   value="2" 
                   required/>
            <span>女</span>
          </label>
        </div>
      </div>
      <div class="form-group" ng-if="true">
        <label class="col-xs-2 control-label important">地区</label>
          <div class="col-xs-6">
            <select name="user_province" 
                    class="form-control inline" 
                    ng-if="!!user"
                    ng-model="user.profile.province" 
                    ng-options="province.id as province.title for province in area" 
                    validator="required" 
                    required-error-message="请选择省份">
              <option value="">- 选择省份 -</option>
            </select>
            <select name="user_city" 
                    class="form-control inline" 
                    ng-model="user.profile.city" 
                    ng-options="city.id as city.title for city in area.find(user.profile.province, 'id').city" 
                    ng-if="user.profile.province" 
                    validator="required" 
                    required-error-message="请选择市区">
              <option value="">- 选择城市 -</option>
            </select> 

            <select name="user_district" 
                    class="form-control inline" 
                    ng-model="user.profile.district" 
                    ng-options="district.id as district.title for district in area.find(user.profile.province, 'id').city.find(user.profile.city, 'id').area" 
                    ng-if="user.profile.city" 
                    validator="required" 
                    required-error-message="请选择区域">
            <option value="">- 选择区域 -</option>
            </select>

          </div>
      </div>
      <div class="form-group">
        <label for="user_email" class="col-xs-2 control-label">邮箱</label>
        <div class="col-xs-6">
          <input type="email" 
                 name="user_email" 
                 id="user_email" 
                 class="form-control" 
                 placeholder="请输入您的邮箱地址" 
                 ng-model="user.profile.email">
        </div>
      </div>

      <div class="form-group">
        <label for="user_slogan" class="col-xs-2 control-label">个性签名</label>
        <div class="col-xs-6">
          <input type="text" 
                 class="form-control" 
                 id="user_slogan" 
                 placeholder="这个家伙很懒，啥也没留下..." 
                 ng-model="user.profile.slogan">
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label">身份证</label>
        <div class="col-xs-6">
          <div class="user-id-card">
            <div ng-file-select="onFileSelect($files, 'image', '', { max_size: 2, min_width: 500, min_height: 500 })" 
                 default-file="getThumbnail(user.profile.id_card_pic, 'user_id_card', { width: 100, height: 100 })" 
                 uploaded="getIdentityUpload" 
                 class="pull-left"></div>
            <div class="pull-left text-info">
              <p></p>
              <p class="">请上传手持身份证的半身照</p>
              <p class="">文件小于2M，尺寸大于500 x 500像素</p>
              <p class="">支持JPG/PNG/BMP等格式图片</p>
            </div>
          </div>
          <input type="hidden" 
                 class="form-control" 
                 ng-model="user.id_card" 
                 name="user_id_card">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-9">
          <button class="btn btn-lg btn-primary" validation-submit="user_information" ng-click="updateInfo()">提交保存</button>
        </div>
      </div>
    </form>
  </div>
</div>