<div class="container-fluid">
  <div class="row mobile" ng-init="getAppDownload()">

    <div class="banner-1" focus-add-class="active" auto-remove="true" auto-screen-height height-percentage="100">
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
          <div class="phone" auto-screen-height height-percentage="80">
            <img src="/images/app/phone-1.png">
          </div>
          </div>
          <div class="col-xs-6">
            <div class="description" auto-screen-height height-percentage="80">
              <h1 class="title">致力于共享优质教育资源</h1>
              <h2 class="content">32所教育部直属高校</h2>
              <h2 class="content">100多所全国重点知名中学</h2>
              <h2 class="content">知名顶尖教育培训机构</h2>
              <div class="download">
                <a class="android" ng-href="{{ download_link }}" target="_blank">
                  <i class="icon icon-android"></i>
                  <span class="name">Android</span>
                </a>
                <a class="iphone" href="" target="_blank">
                  <i class="icon icon-iphone"></i>
                  <span class="name">iPhone</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <span class="next-mask">
          <i class="icon icon-pulldown"></i>
        </span>
      </div>
    </div>

    <div class="banner-2" focus-add-class="active" auto-remove="true" auto-screen-height height-percentage="100">
      <div class="phone"></div>
      <div class="container">
        <div class="col-xs-6">
          <div class="description" auto-screen-height height-percentage="80">
            <h1 class="title">精心选择 / 用心设计</h1>
            <div class="item">
              <div class="iconfont">
                <i class="icon icon-book-fill"></i>
              </div>
              <div class="content">
                <h3 class="title">精品课程</h3>
                <h4 class="subtitle">精选顶尖院校优质精品课程</h4>
              </div>
            </div>
            <div class="item">
              <div class="iconfont">
                <i class="icon icon-school-fill"></i>
              </div>
              <div class="content">
                <h3 class="title">顶尖学校</h3>
                <h4 class="subtitle">汇聚全国最优质的院校资源</h4>
              </div>
            </div>
            <div class="item">
              <div class="iconfont">
                <i class="icon icon-note"></i>
              </div>
              <div class="content">
                <h3 class="title">问答笔记</h3>
                <h4 class="subtitle">随时提问、随时互动、随时记录</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banner-3" focus-add-class="active" auto-remove="true">
      <div class="phone"></div>
      <div class="container">
        <!-- <div class="col-xs-5 col-xs-offset-7"> -->
          <h1 class="title text-right">资源共享 / 随时互动</h1>
        <!-- </div> -->
      </div>
      <div class="container">
        <div class="col-xs-7 col-xs-offset-5">
          <div class="icon-lists">
            <div class="item">
              <i class="icon icon-school-fill"></i>
            </div>
            <div class="item">
              <i class="icon icon-student"></i>
            </div>
            <div class="item">
              <i class="icon icon-parents"></i>
            </div>
            <div class="item">
              <i class="icon icon-peoples"></i>
            </div>
          </div>
          <div class="description">
            <div class="item">
              <div class="content">
                <h3 class="title">为学生</h3>
                <h4 class="subtitle">无门槛享受最优质的教育资源，突破时空限制，随时随地学习。</h4>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <h3 class="title">为学校</h3>
                <h4 class="subtitle">加强学校、学生、家长间的互动沟通，提高教学质量，资源最优化利用。</h4>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <h3 class="title">为家长</h3>
                <h4 class="subtitle">及时、全面了解学习状况，已最低的成本获得最优质的教育资源。</h4>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <h3 class="title">为人人</h3>
                <h4 class="subtitle">丰富个人的知识体系，使教育资源利用最大化，创建学习型社会。</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>