<div class="container">
  <div class="row">
    <div id="J_container_loading" class="col-xs-12">

      <br><br>
      <a class="btn btn-lg btn-success" ng-click="modal.success()">Success</a>
      <a class="btn btn-lg btn-danger" ng-click="modal.error()">Error</a>
      <a class="btn btn-lg btn-warning" ng-click="modal.warning()">Warning</a>
      <a class="btn btn-lg btn-warning" ng-click="modal.confirm()">Confirm</a>
      <a class="btn btn-lg btn-warning" ng-click="modal.login()">登录/注册</a>
      <a class="btn btn-lg btn-primary" ng-click="modal.loading()">Loading</a>
      <a class="btn btn-lg btn-warning" ng-click="modal.image()">图片预览</a>
      <br><br>

      <a href="#" class="btn btn-lg btn-default" tooltip is-open="tooltip.open" content="添加成功">top</a>
      <a href="#" class="btn btn-lg btn-default" tooltip-placement="left" tooltip="On the Left!">left</a>
      <a href="#" class="btn btn-lg btn-default" tooltip-placement="right" tooltip="On the Right!">right</a>
      
      <a href="#" class="btn btn-lg btn-default" tooltip-placement="bottom" tooltip="On the Bottom!">bottom</a>
      
      <a href="#" class="btn btn-lg btn-default" tooltip-animation="false" tooltip="I don't fade. :-(">fading</a>
      
      <a href="#" class="btn btn-lg btn-default" tooltip-popup-delay='1000' tooltip='appears with delay'>show delay</a>
      
      <a href="#" tooltip-popup-close-delay='1000' uib-tooltip='hides with delay'>hide delay</a>
      <a href="#" uib-tooltip-template="'myTooltipTemplate.html'">Custom template</a>


      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>
  </div>
</div>