<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="payment text-center clearfix">
        <br><br>
        <h2 class="text-primary">
          <i class="icon icon-success text-success h1"></i>
          <span>恭喜您，课程购买成功</span>
        </h2>
        <br><br><br>
        <div class="col-xs-6 text-right">
          <p class="col-xs-12">
            <a class="btn btn-lg btn-primary" href="/course/{{ course_id }}">立即开始学习</a>
          </p>
        </div>
        <div class="col-xs-6 text-left">
          <p class="col-xs-12">
            <a class="btn btn-lg btn-default" href="/user/course">返回我的课程</a>
          </p>
        </div>
        <br><br><br><br>
      </div>
    </div>
  </div>
</div>