<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="payment text-center clearfix">
        <br><br>
        <h2 class="text-danger"><i class="icon icon-error h1"></i> 网络原因，课程购买失败</h2>
        <br><br><br>
        <div class="col-xs-6 text-right">
          <p class="col-xs-12">
            <a class="btn btn-lg btn-danger" href="/user/course">返回重新支付</a>
          </p>
        </div>
        <div class="col-xs-6 text-left">
          <p class="col-xs-12">
            <a class="btn btn-lg btn-default" href="/course">回到课程列表</a>
          </p>
        </div>
        <br><br><br><br>
      </div>
    </div>
  </div>
</div>