<div class="login" ng-controller="AuthController">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div class="login-form">
          <form class="form-horizontal" name="loginForm" role="form" method="POST">
            <div class="form-group">
              <div class="col-xs-12">
                <h3 class="text-center text-primary">{{ appConfig.site_name }}管理后台登录</h3>
              </div>
            </div>
            <hr>
            <div class="form-group">
              <div class="col-xs-10 col-xs-offset-1">
                <div class="input-group">
                  <div class="input-group-addon">账户</div>
                  <input type="text" 
                         name="user_phone" 
                         class="form-control" 
                         maxlength="11" 
                         placeholder="请输入登录账户" 
                         ng-model="user.phone"
                         validator="required, minlength=10" 
                         minlength-error-message="." 
                         required-error-message=".">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-10 col-xs-offset-1">
                <div class="input-group">
                  <div class="input-group-addon">密码</div>
                  <input type="password" 
                         name="password" 
                         maxlength="16" 
                         class="form-control" 
                         placeholder="请输入登录密码" 
                         ng-model="user.password" 
                         validator="required, maxlength=16" 
                         minlength-error-message="." 
                         required-error-message=".">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-10 col-xs-offset-1">
                <label class="pull-left">
                  &nbsp;
                  <input type="checkbox" 
                         name="auto_login" 
                         class="for-control checkbox-inline" 
                         ng-model="user.auto_login"
                         ng-init="user.auto_login = true">
                         &nbsp;下次自动登录
                </label>
                <span class="pull-right">
                  <a href="/forgot" class="text-primary">忘记密码？</a>
                </span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-10 col-xs-offset-1">
                <button class="btn btn-block btn-primary" validation-submit="loginForm" ng-click="login()">登录</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>