<div class="page-list" ng-init="partnerAction.getIndex()">
  <div class="page-title">
    <h3>入驻机构管理({{ partner_list.pagination.total || '0' }})</h3>
  </div>
  <div class="page-action clearfix">
    <div class="pull-left">
      <button 
        class="btn btn-sm btn-success" 
        ng-click="partnerAction.add({ modal: true })" 
        ng-if="page_permission['config.usual.partner.add']">新增</button>
      <button 
        class="btn btn-sm btn-danger" 
        ng-click="partnerAction.del({ batch: true })" 
        ng-if="page_permission['config.usual.partner.del']" 
        ng-disabled="!partner_list.result.checked().length">删除</button>
      <button 
        class="btn btn-sm btn-default" 
        ng-click="partnerAction.getIndex(partner_list.pagination.current_page)">刷新</button>
    </div>
  </div>
  <div class="page-content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <input class="check-all" 
                   type="checkbox"
                   ng-model="check_all"
                   ng-change="partner_list.result.setCheck(check_all)">
          </th>
          <th>ID</th>
          <th>机构名称</th>
          <th>LOGO</th>
          <th>状态</th>
          <th>添加时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="!partner_list.pagination.total" class="no-animation">
          <td colspan="7">
            <div class="list-loader" 
              ng-if="partner_list.pagination.total == undefined"
              ng-include="'partials/admin/layout/loading.html'">
            </div>
            <div class="list-empty" 
              ng-if="partner_list.pagination.total == 0" 
              ng-include="'partials/admin/layout/empty.html'">
            </div>
          </td>
        </tr>
        <tr ng-repeat="partner in partner_list.result track by $index" 
            class="slide-down"
            ng-class="{ 'disabled': !partner.x_status }">
          <td>
            <input class="ids" 
                   type="checkbox" 
                   name="ids[{{ $index }}]" 
                   ng-model="partner.checked">
          </td>
          <td>{{ partner.id }}</td>
          <td>{{ partner.organization.name }}</td>
          <td>
            <img src="{{ getThumbnail(partner.organization.logo, 'partner.organization_logo', { width: 40, height: 40 }) }}" width="20">
          </td>
          <td>
            <span class="no-animation" 
                  ng-switch="partner.x_status">
              <em class="text-danger"
                  ng-switch-when="0">已禁用</em>
              <em class="text-success"
                  ng-switch-when="1">正常</em>
            </span>
          </td>
          <td>{{ partner.created_at }}</td>
          <td>
            <a href="" 
               class="text-info" 
               ng-if="page_permission['config.usual.partner.edit']"
               ng-click="partnerAction.edit({ modal: true, partner: this })" >[ 编辑 ]</a>
            <a href="" 
               class="text-danger" 
               ng-if="page_permission['config.usual.partner.del']"
               ng-click="partnerAction.del({ partner: this })">[ 删除 ]</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="page-wrap" ng-show="partner_list.pagination.total_page > 1">
    <div pagination 
         total-items="partner_list.pagination.total" 
         items-per-page="partner_list.pagination.per_page" 
         ng-model="current_page" 
         ng-change="partnerAction.getIndex(current_page)" 
         class="pagination" 
         boundary-links="true" 
         max-size="5"
         rotate="false"></div>
  </div>
</div>